body, div, ul, li {
  margin: 0;
  padding: 0;
}
body {
  background-color: #ccc;
}
input[type=text] {
    background-color: #eee;
}
textarea {
    background-color: #eee;
}
#header {
  min-width: 800px;
  height: 35px;
}
#nav {
  width: 100%;
  background-color: #333;
  font-family:sans-serif;
  float: left;
}
#nav li {
  list-style: none;
  float: left;
  width: 120px;
  height: 30px;
  line-height: 30px;
  text-align: center;
}
#nav li a {
  color: white;
  text-decoration: none;
  display: block;
  background-color: #333;
}
#nav li a:hover {
  background-color: #066;
}
#toollib .toollib a, #toollib .toollib a:hover,
#home .home a, #home .home a:hover,
#post .post a, #post .post a:hover,
#logout .logout a, #logout .logout a:hover,
{
  background-color: #FFF;
  color: #000;
  cursor: default;
}
#row {
  min-width: 800px;
  height: 25px;
  padding-left: 5px;
  padding-right: 5px;
}
#row a {
  margin: 0;
  padding: 0;
  color: black;
}
#row ul {
  clear: both;
  padding-left: 10px;
  background-color: #aaa;
}
#row li {
  float: left;
  list-style: none;
  padding-right: 20px;
}
#row ul:hover {
    background-color: #bbb
}
#shortdesc {
  width: 200pt;
}
#desc {
}
#search {
  margin-left: 120px;
  margin-top: 80px;
}
#search input[type=text] {
    width: 400px;
}
#newitem {
  width: 700px;
  margin-left: 120px;
  margin-top: 80px;
}
#newitem textarea {
  width: 100%;
  height: 200px;
  margin: 5px;
}
#newitem input {
  margin: 5px;
}
#newitem input[type=submit] {
  float: right;
}
#newitem input[type=text] {
  width:700px;
}
