{{define "body"}}
<form action="/auth/google/authorize" method="POST">
    <input type="hidden" name="redirect" value="{{.Redirect}}">
    <input type="submit" value="Login with Google"/>
</form>
<form action="/auth/github/authorize" method="POST">
    <input type="hidden" name="redirect" value="{{.Redirect}}">
    <input type="submit" value="Login with Github"/>
</form>
{{end}}
