{{define "body"}}
<div id="newitem"><form action="/post" method="PUT">
    Title / short description
    <input type="text" name="shortdesc"></input><br />
    Details
    <textarea name="desc"></textarea></br>
    <input type="submit" value="PUT IT TO USE!" />
</form></div>
{{end}}
