{{define "body"}}
<div id="row">
    {{range .Results}}<a id="row" href="/show/{{.ItemId}}"><ul id="row">{{template "item" .}}</ul></a>{{end}}
</div>
{{end}}
{{define "item"}}
    <li id="shortdesc">{{printf "%.40s" .ShortDesc}}</li>
    <li id="desc">{{printf "%.100s" .Description}}</li>{{end}}
