<!DOCTYPE html>
<html><head><link rel="stylesheet" href="/css/style.css" type="text/css" charset="utf8" />
{{template "head" .}}</head><body id="toollib">
<div id="header"><ul id="nav">
    <li id="home"><a href="/">home</a></li>
    <li id="post"><a href="/newitem">POST STUFF</a></li>
{{if .UserData.LoggedIn}}
    <li id="logout"><a href="/auth/logout">logout</a></li>
{{else}}
    <li id="login"><a href="/auth/login">login</a></li>
{{end}}

</ul></div>
<div id="body">
{{template "body" .}}
</div>
</body></html>
{{define "head"}}{{end}}
{{define "body"}}{{end}}
